@model CleanMe.Application.ViewModels.AddressViewModel

<div class="form-group">
    <label class="form-label">Line1</label>
    <p class="form-control-plaintext">@Model.Line1</p>
</div>

<div class="form-group">
    <label class="form-label">Line2</label>
    <p class="form-control-plaintext">@Model.Line2</p>
</div>

<div class="form-group">
    <label class="form-label">Suburb</label>
    <p class="form-control-plaintext">@Model.Suburb</p>
</div>

<div class="form-group">
    <label class="form-label">Town / City</label>
    <p class="form-control-plaintext">@Model.TownOrCity</p>
</div>

<div class="form-group">
    <label class="form-label">Postcode</label>
    <p class="form-control-plaintext">@Model.Postcode</p>
</div>
