@using CleanMe.Application.ViewModels
@using CleanMe.Domain.Enums
@using CleanMe.Shared.Helpers

@model CleanMe.Application.ViewModels.SettingViewModel

@{
    ViewData["Title"] = "Edit System Setting";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" id="SettingForm" novalidate>
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <input asp-for="settingId" type="hidden" />

    @Html.LabeledTextBoxFor(model => model.ExcelExportPath)

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button"
            class="btn btn-secondary"
            onclick="window.location.href='@Url.Action("Index", "Home")'">
        Home
    </button>

</form>

@section Scripts {
}