@using CleanMe.Application.ViewModels
@using CleanMe.Domain.Enums
@using CleanMe.Shared.Helpers

@model CleanMe.Application.ViewModels.AmendmentTypeViewModel

@{
    ViewData["Title"] = Model.amendmentTypeId == 0 ? "Add Amendment Type" : "Edit Amendment Type";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddEdit" method="post" id="AmendmentTypeForm" novalidate>
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.amendmentTypeId)

    @Html.LabeledTextBoxFor(model => model.Name)

    @Html.LabeledTextBoxFor(model => model.Description)

    @Html.LabeledTextBoxFor(model => model.SortOrder)

    @Html.YesNoButtonsFor(model => model.HasClientId)

    @Html.YesNoButtonsFor(model => model.HasAreaId)

    @Html.YesNoButtonsFor(model => model.HasAssetLocationId)

    @Html.YesNoButtonsFor(model => model.HasItemCodeId)

    @Html.YesNoButtonsFor(model => model.HasAssetId)

    @Html.YesNoButtonsFor(model => model.HasCleanFrequencyId)

    @Html.YesNoButtonsFor(model => model.HasStaffId)

    @Html.YesNoButtonsFor(model => model.HasRate)

    @Html.YesNoButtonsFor(model => model.HasAccess)

    @Html.YesNoButtonsFor(model => model.HasIsAccessable)

    @Html.YesNoButtonsFor(model => model.IsActive)

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>



@section Scripts {
}