@using CleanMe.Application.ViewModels
@using CleanMe.Domain.Enums
@using CleanMe.Shared.Helpers

@model CleanMe.Application.ViewModels.AssetLocationViewModel

@{
    ViewData["Title"] = Model.assetLocationId == 0 ? "Add asset location" : "Edit asset location";
}

<h2>@ViewData["Title"]</h2>

<div class="form-group">
    <label class="form-label">Area</label>
    <div class="form-control-plaintext">@Model.AreaName</div>
</div>

<form asp-action="AddEdit" method="post" id="AssetLocationForm" novalidate>
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <input asp-for="assetLocationId" type="hidden" />
    <input asp-for="areaId" type="hidden" />
    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

    @Html.LabeledTextBoxFor(model => model.Description)

    <!-- Address Partial View -->
    <h3>Address</h3>
@*     @Html.EditorFor(model => model.Address, "_AddressPartial") *@
    @Html.Partial("_AddressPartial", Model.Address)


    @Html.LabeledTextBoxFor(model => model.SortOrder)

    @Html.LabeledTextBoxFor(model => model.ReportCode)

    @Html.LabeledTextBoxFor(model => model.AccNo)

    @Html.YesNoButtonsFor(model => model.IsActive)

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@ViewBag.ReturnUrl" class="btn btn-secondary">Cancel</a>
    @* <a asp-action="Index" class="btn btn-secondary">Cancel</a> *@
</form>

@section Scripts {
    <script>
        window.onerror = function (msg, url, line, col, error) {
            alert("JS Error: " + msg);
        };
    </script>
}