@model CleanMe.Application.ViewModels.AddressViewModel

@Html.LabeledTextBoxFor(model => @Model.Line1)
@* <div class="form-group">
    <label class="form-label">Line1</label>
    <p class="form-control-plaintext">@Model.Line1</p>
</div> *@

@Html.LabeledTextBoxFor(model => @Model.Line2)
@* <div class="form-group">
    <label class="form-label">Line2</label>
    <p class="form-control-plaintext">@Model.Line2</p>
</div> *@

@Html.LabeledTextBoxFor(model => @Model.Suburb)
@* <div class="form-group">
    <label class="form-label">Suburb</label>
    <p class="form-control-plaintext">@Model.Suburb</p>
</div> *@

@Html.LabeledTextBoxFor(model => @Model.TownOrCity)
@* <div class="form-group">
    <label class="form-label">Town / City</label>
    <p class="form-control-plaintext">@Model.TownOrCity</p>
</div> *@

@Html.LabeledTextBoxFor(model => @Model.Postcode)
@* <div class="form-group">
    <label class="form-label">Postcode</label>
    <p class="form-control-plaintext">@Model.Postcode</p>
</div> *@
